<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/connecte.css" />
    <title>Bienvenue</title>
    <script src="scripts/connecte.js" defer></script>
</head>

<body>

    <h1>Bienvenue à La clinique LE CHATELET</h1>
    <h2>Vous êtes connecté en tant que : <p id="username"></p></h2>
    <img src="img/clinique.jpg" />

    <br> <br> <br> <br>
    <a href="/deconnexion">Se déconnecter</a>
</body>

</html>