<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Connexion</title>
		<link rel="stylesheet" href="style/login.css" type="text/css" />
	</head>
	<body>
		<div class="login-form">
			<h1>Connexion</h1>
			<form action="auth" method="POST">
				<input
					type="text"
					name="username"
					placeholder="Nom d'utilisateur"
					required
				/>
				<input
					type="password"
					name="password"
					placeholder="Mot de passe"
					required
				/>
				<input type="submit" />
			</form>
		</div>
	</body>
</html>
